<template>
  <div class="small">
    <div class="d-flex justify-content-end">
      <div class="mr-3"> Records on single page:</div>
      <div :class="filters.limit === 5 ? 'text-danger':''" @click="onPage(5)" class="mx-2"> 5</div>
      <div :class="filters.limit === 10 ? 'text-danger':''" @click="onPage(10)" class="mx-2"> 10</div>
      <div :class="filters.limit === 25 ? 'text-danger':''" @click="onPage(25)" class="mx-2"> 25</div>
      <div :class="filters.limit === 50 ? 'text-danger':''" @click="onPage(50)" class="mx-2"> 50</div>
      <div :class="filters.limit === 100 ? 'text-danger':''" @click="onPage(100)" class="mx-2"> 100</div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>First Name</label>
          <input
              @keyup.enter="update"
              class="form-control form-control-sm"
              placeholder="type and press Enter"
              type="text"
              v-model="filters.first_name"
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Last Name</label>
          <input
              @keyup.enter="update"
              class="form-control form-control-sm"
              placeholder="type and press Enter"
              type="text"
              v-model="filters.name"
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Email</label>
          <input
              @keyup.enter="update"
              class="form-control form-control-sm"
              placeholder="type and press Enter"
              type="text"
              v-model="filters.email"
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    export default {
        props: ['filters'],

        methods: {
            update() {
                EventBus.$emit('filters-updated');
            },

            onPage(limit) {
                this.filters.limit = limit;
                this.update();
            }
        }
    }
</script>
