<template>
  <div class="small">
    <table class="table table-hover table-bordered table-sm">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Created at</th>
        <th>Password updated at</th>
      </tr>
      <tr :class="user.hasExpiredPassword ? 'text-black-50':''" v-for="user in dataset.data" v-if="dataset">
        <td>{{ user.first_name }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <span class="mr-auto">{{ user.password_updated_at }}</span>
            <span v-if="user.hasExpiredPassword"><i class="fa fa-lock text-danger"></i></span>
          </div>
        </td>
      </tr>
    </table>
    <div class="d-flex justify-content-center" v-if="dataset">
      <paginator :dataset="dataset" @changed="changePage"></paginator>
    </div>
  </div>
</template>
<script>
    import Paginator from "../Paginator";

    export default {

        props: ['filters'],

        components: { Paginator },

        data() {
            return {
                dataset: false
            }
        },

        created() {
            this.fetch();

            EventBus.$on('filters-updated', () => {
                this.fetch()
            });
        },

        methods: {
            fetch() {
                axios.get('/api/users', {
                    params: this.filters
                }).then(res => {
                    this.dataset = res.data;
                    this.$forceUpdate()
                })
            },

            changePage(page) {
                this.filters.page = page;
                this.fetch();
            }
        },
    }
</script>
